<ion-header>
  <ion-button href="tabs/tab1">
    <ion-icon name="arrow-back-circle-outline"></ion-icon
  ></ion-button>
  <ion-title>SIM</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <!-- content title -->
        <div class="container-title">
          <h2 class="title">Apa itu SIM</h2>
          <p>
            SIM (Surat Ijin Mengemudi) adalah bukti registrasi dan identifikasi
            yang diberikan oleh Polri kepada seseoraang yang telah memenuhi
            persyaratan administrasi, sehat jasmani dan rohani, memahami
            peraturan lalu lintas dan trampil mengemudikan kendaraan bermotor.
          </p>
        </div>

        <!-- content -->
        <div class="container">
          <ion-card>
            <ion-img src="../../../assets/DISHUB/sim (1).svg"></ion-img>
          </ion-card>
          <ion-card>
            <ion-img src="../../../assets/DISHUB/sim (2).svg"></ion-img>
          </ion-card>
          <ion-card>
            <ion-img src="../../../assets/DISHUB/sim (3).svg"></ion-img>
          </ion-card>
        </div>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
