<ion-header>
  <ion-button href="tabs/tab2">
    <ion-icon name="arrow-back-circle-outline"></ion-icon
  ></ion-button>
  <ion-title>Rambu Lalu Lintas</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/9.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/10.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/11.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/12.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/13.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/14.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/15.svg"></ion-img>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
