<ion-header>
  <ion-button href="tabs/tab4">
    <ion-icon name="arrow-back-circle-outline"></ion-icon
  ></ion-button>
  <ion-title>Markah Jalan Raya</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-card class="card">
          <div class="cont">
            <ion-img
              src="../../../assets/DISHUB/Desain_tanpa_judul__1_-removebg-preview.svg"
              class="card-img"
            ></ion-img>
          </div>
          <div class="cont">
            <h2 class="title">keselamatan berlalu lintas</h2>
          </div>
          <div class="cont">
            <ion-button
              shape="round"
              class="card-btn"
              href="https://drive.google.com/drive/folders/1hH7L4E48nrFDtgjqnDQHWB0313NIwqRD?usp=drive_link"
              >download
              <ion-icon name="download-outline" class="icon-btn"></ion-icon
            ></ion-button>
          </div>
        </ion-card>
        <ion-card class="card">
          <div class="cont">
            <ion-img
              src="../../../assets/DISHUB/logos (6).svg"
              class="card-img"
            ></ion-img>
          </div>
          <div class="cont">
            <h2 class="title">berkendara cerdas</h2>
          </div>
          <div class="cont">
            <ion-button
              shape="round"
              class="card-btn"
              href="https://drive.google.com/drive/folders/1uhcq9V6FbPwmauP4XYiOo4VvSMc_PM7w?usp=drive_link"
              >download
              <ion-icon name="download-outline" class="icon-btn"></ion-icon
            ></ion-button>
          </div>
        </ion-card>
        <ion-card class="card">
          <div class="cont">
            <ion-img
              src="../../../assets/DISHUB/logos (2).svg"
              class="card-img"
            ></ion-img>
          </div>
          <div class="cont">
            <h2 class="title">markah jalan</h2>
          </div>
          <div class="cont">
            <ion-button
              shape="round"
              class="card-btn"
              href="https://drive.google.com/drive/folders/1LXP781wTqbAyn6XjY_2P0wFcwvHyrSMI?usp=drive_link"
              >download
              <ion-icon name="download-outline" class="icon-btn"></ion-icon
            ></ion-button>
          </div>
        </ion-card>
        <ion-card class="card">
          <div class="cont">
            <ion-img
              src="../../../assets/DISHUB/logos (3).svg"
              class="card-img"
            ></ion-img>
          </div>
          <div class="cont">
            <h2 class="title">rambu lalu lintas</h2>
          </div>
          <div class="cont">
            <ion-button
              shape="round"
              class="card-btn"
              href="https://drive.google.com/drive/folders/12SJOpJMtCq1agQbMO4uabGyGVmp4hnlP?usp=drive_link"
              >download
              <ion-icon name="download-outline" class="icon-btn"></ion-icon
            ></ion-button>
          </div>
        </ion-card>
        <ion-card class="card">
          <div class="cont">
            <ion-img
              src="../../../assets/DISHUB/logos (4).svg"
              class="card-img"
            ></ion-img>
          </div>
          <div class="cont">
            <h2 class="title">pelanggaran</h2>
          </div>
          <div class="cont">
            <ion-button
              shape="round"
              class="card-btn"
              href="https://drive.google.com/drive/folders/1ZhK7-2s02UHeHvit6yFfLpmZf5vZVmSh?usp=drive_link"
              >download
              <ion-icon name="download-outline" class="icon-btn"></ion-icon
            ></ion-button>
          </div>
        </ion-card>
        <ion-card class="card">
          <div class="cont">
            <ion-img
              src="../../../assets/DISHUB/logos (5).svg"
              class="card-img"
            ></ion-img>
          </div>
          <div class="cont">
            <h2 class="title">tips berkendara</h2>
          </div>
          <div class="cont">
            <ion-button
              shape="round"
              class="card-btn"
              href="https://drive.google.com/drive/folders/12dvG5xdMC8t9y24cVtbZSFCArGdEM_FC?usp=drive_link"
              >download
              <ion-icon name="download-outline" class="icon-btn"></ion-icon
            ></ion-button>
          </div>
        </ion-card>
        <ion-card class="card">
          <div class="cont">
            <ion-img
              src="../../../assets/DISHUB/logos (1).svg"
              class="card-img"
            ></ion-img>
          </div>
          <div class="cont">
            <h2 class="title">klasifikasi jalan raya</h2>
          </div>
          <div class="cont">
            <ion-button
              shape="round"
              class="card-btn"
              href="https://drive.google.com/drive/folders/12oklCKSuF-PooxlUu2GsI-rRAGhUP6mh?usp=drive_link"
              >download
              <ion-icon name="download-outline" class="icon-btn"></ion-icon
            ></ion-button>
          </div>
        </ion-card>
        <ion-card class="card">
          <div class="cont">
            <ion-img
              src="../../../assets/DISHUB/lo__3_-removebg-preview.svg"
              class="card-img"
            ></ion-img>
          </div>
          <div class="cont">
            <h2 class="title">surat izin mengemudi</h2>
          </div>
          <div class="cont">
            <ion-button
              shape="round"
              class="card-btn"
              href="https://drive.google.com/drive/folders/1NkQ4NzCB_Vabh-xwb_t8c_Kp6oF1Lfop?usp=drive_link"
              >download
              <ion-icon name="download-outline" class="icon-btn"></ion-icon
            ></ion-button>
          </div>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
