<ion-header>
  <ion-button href="tabs/tab2">
    <ion-icon name="arrow-back-circle-outline"></ion-icon
  ></ion-button>
  <ion-title>Markah Jalan Raya</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/16.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/17.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/18.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/19.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/20.svg"></ion-img>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
