<ion-header>
  <ion-button href="tabs/tab2">
    <ion-icon name="arrow-back-circle-outline"></ion-icon
  ></ion-button>
  <ion-title>Berkendara Cerdas</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/6.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/7.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/8.svg"></ion-img>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
