<ion-header>
  <ion-button href="tabs/tab1">
    <ion-icon name="arrow-back-circle-outline"></ion-icon
  ></ion-button>
  <ion-title>Telepon Darurat</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-card class="card-content" href="tel:+62-110">
          <div class="aksen-card">
            <ion-img
              class="lintas-img1"
              src="../../assets/DISHUB/lo__4_-removebg-preview (2).svg"
            ></ion-img>
            <h2 class="title-card1">telefon darurat</h2>
          </div>
          <ion-button class="btn-lanjut"
            >telefon
            <ion-icon name="arrow-forward-circle" class="icon"></ion-icon
          ></ion-button>
        </ion-card>
        <ion-card class="card-content" href="tel:+62-118">
          <div class="aksen-card">
            <ion-img
              class="lintas-img1"
              src="../../assets/DISHUB/lo__5_-removebg-preview.svg"
            ></ion-img>
            <h2 class="title-card1">telefon darurat (118)</h2>
          </div>
          <ion-button class="btn-lanjut"
            >telefon
            <ion-icon name="arrow-forward-circle" class="icon"></ion-icon
          ></ion-button>
        </ion-card>
        <ion-card class="card-content" href="tel:+62-119">
          <div class="aksen-card">
            <ion-img
              class="lintas-img1"
              src="../../assets/DISHUB/lo__5_-removebg-preview.svg"
            ></ion-img>
            <h2 class="title-card1">telefon darurat (119)</h2>
          </div>
          <ion-button class="btn-lanjut"
            >telefon
            <ion-icon name="arrow-forward-circle" class="icon"></ion-icon
          ></ion-button>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
