.logo {
  width: 32px;
  height: 32px;
  float: right;
  margin-inline-end: 16px;
}
ion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
}
