<ion-header>
  <ion-title>SABUK</ion-title>
  <ion-img
    class="logo"
    src="../../assets/DISHUB/Desain_tanpa_judul__1_-removebg-preview.svg"
  ></ion-img>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-card class="card">
          <ion-img src="../../assets/DISHUB/lintas (2).svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../assets/DISHUB/lintas (1).svg"></ion-img>
        </ion-card>
        <!-- materi awal  -->

        <!-- slide materi  -->
        <swiper-container
          pagination="true"
          pagination-dynamic-bullets="true"
          [slidesPerView]="1"
          slides-per-view="auto"
          coverflow-effect-slide-shadows="false"
          [loop]="true"
          autoplay="true"
          effect="coverflow"
          class="container-swiper"
        >
          <swiper-slide>
            <ion-card>
              <div class="aksen-flow">
                <ion-img
                  src="../../assets/DISHUB/logos (6).svg"
                  class="card-img"
                ></ion-img>
              </div>
              <div>
                <h2 class="title-card">berkendara cerdas</h2>
                <ion-button
                  color="light"
                  shape="round"
                  [routerLink]="['/', 'tabs', 'berkendara']"
                  class="button-card"
                  >selengkapnya
                  <ion-icon name="arrow-forward-circle" class="icon"></ion-icon
                ></ion-button>
              </div>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <div class="aksen-flow">
                <ion-img
                  src="../../assets/DISHUB/logos (2).svg"
                  class="card-img"
                ></ion-img>
              </div>
              <div>
                <h2 class="title-card">markah jalan</h2>
                <ion-button
                  color="light"
                  shape="round"
                  [routerLink]="['/', 'tabs', 'markah']"
                  class="button-card"
                  >selengkapnya
                  <ion-icon name="arrow-forward-circle" class="icon"></ion-icon
                ></ion-button>
              </div>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <div class="aksen-flow">
                <ion-img
                  src="../../assets/DISHUB/logos (3).svg"
                  class="card-img"
                ></ion-img>
              </div>
              <div>
                <h2 class="title-card">rambu lalu lintas</h2>
                <ion-button
                  color="light"
                  shape="round"
                  [routerLink]="['/', 'tabs', 'rambu']"
                  class="button-card"
                  >selengkapnya
                  <ion-icon name="arrow-forward-circle" class="icon"></ion-icon
                ></ion-button>
              </div>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <div class="aksen-flow">
                <ion-img
                  src="../../assets/DISHUB/logos (4).svg"
                  class="card-img"
                ></ion-img>
              </div>
              <div>
                <h2 class="title-card">pelanggaran</h2>
                <ion-button
                  color="light"
                  shape="round"
                  [routerLink]="['/', 'tabs', 'pelanggaran']"
                  class="button-card"
                  >selengkapnya
                  <ion-icon name="arrow-forward-circle" class="icon"></ion-icon
                ></ion-button>
              </div>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <div class="aksen-flow">
                <ion-img
                  src="../../assets/DISHUB/logos (1).svg"
                  class="card-img"
                ></ion-img>
              </div>
              <div>
                <h2 class="title-card">klasifikasi jalan</h2>
                <ion-button
                  color="light"
                  shape="round"
                  [routerLink]="['/', 'tabs', 'jalan']"
                  class="button-card"
                  >selengkapnya
                  <ion-icon name="arrow-forward-circle" class="icon"></ion-icon
                ></ion-button>
              </div>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
