swiper-container {
  width: 100%;
  height: 200px;
  margin-block-start: -24px;
}
swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
swiper-slide ion-card {
  border-radius: 16px;
  width: 100%;
  height: fit-content;
  background-color: #ffc700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
}

// title
.logo {
  width: 32px;
  height: 32px;
  float: right;
  margin-inline-end: 16px;
}
ion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
}

// content
.card {
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  margin-block-end: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.aksen-flow {
  width: 150px;
  height: 100%;
  background-color: transparent;
  border-radius: 16px;
}
.card-img {
  width: 100%;
  height: 100%;
}
.title-card {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  margin-inline-start: 12px;
}
.button-card {
  margin-inline-start: 12px;
  margin-block-start: 36px;
}
.icon {
  padding-inline-start: 8px;
}
