<ion-header>
  <ion-title>SABUK</ion-title>
  <ion-img
    class="logo"
    src="../../assets/DISHUB/Desain_tanpa_judul__1_-removebg-preview.svg"
  ></ion-img>
</ion-header>

<ion-content>
  <!-- grid -->
  <ion-grid>
    <ion-col>
      <ion-row>
        <swiper-container
          pagination="true"
          pagination-dynamic-bullets="true"
          [slidesPerView]="2"
          coverflow-effect-rotate="40"
          coverflow-effect-stretch="20"
          coverflow-effect-depth="50"
          centered-slides="true"
          coverflow-effect-slide-shadows="false"
          [loop]="true"
          autoplay="true"
        >
          <swiper-slide>
            <ion-card class="card-home" href="tabs/tab2">
              <div class="div-img">
                <ion-img
                  class="img-home"
                  src="../../assets/DISHUB/lo.svg"
                ></ion-img>
              </div>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="card-home" href="tabs/tab3">
              <div class="div-img">
                <ion-img
                  class="img-home"
                  src="../../assets/DISHUB/lo__1_-removebg-preview.svg"
                ></ion-img>
              </div>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="card-home" [routerLink]="['/', 'tabs', 'sim']">
              <div class="div-img">
                <ion-img
                  class="img-home"
                  src="../../assets/DISHUB/lo__3_-removebg-preview.svg"
                ></ion-img>
              </div>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="card-home" href="tabs/tab4">
              <div class="div-img">
                <ion-img
                  class="img-home"
                  src="../../assets/DISHUB/Desain_tanpa_judul__1_-removebg-preview.svg"
                ></ion-img>
              </div>
            </ion-card>
          </swiper-slide>
        </swiper-container>

        <!-- content -->
        <ion-card class="card-content" href="tabs/tab2">
          <div class="aksen-card">
            <ion-img
              class="lintas-img1"
              src="../../assets/DISHUB/lo__7_-removebg-preview.svg"
            ></ion-img>
            <h2 class="title-card1">apa itu keselamatan berlalu lintas??</h2>
          </div>
          <ion-button class="btn-lanjut"
            >selengkapnya
            <ion-icon name="arrow-forward-circle" class="icon"></ion-icon
          ></ion-button>
        </ion-card>
        <ion-card class="card-content" [routerLink]="['/', 'tabs', 'tips']">
          <div class="aksen-card">
            <ion-img
              class="lintas-img1"
              src="../../assets/DISHUB/home (2).svg"
            ></ion-img>
            <h2 class="title-card1">tips aman berkendara</h2>
          </div>
          <ion-button class="btn-lanjut"
            >selengkapnya
            <ion-icon name="arrow-forward-circle" class="icon"></ion-icon
          ></ion-button>
        </ion-card>
        <ion-card class="card-content" [routerLink]="['/', 'tabs', 'telepon']">
          <div class="aksen-card">
            <ion-img
              class="lintas-img1"
              src="../../assets/DISHUB/lo__4_-removebg-preview (2).svg"
            ></ion-img>
            <h2 class="title-card1">telefon darurat</h2>
          </div>
          <ion-button class="btn-lanjut"
            >telefon
            <ion-icon name="arrow-forward-circle" class="icon"></ion-icon
          ></ion-button>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
