// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@font-face {
  font-family: "ubuntu";
  src: url("../assets/font/Ubuntu-Regular.ttf"); //mine
}

* {
  font-family: "ubuntu";
}
