<ion-header>
  <ion-button href="tabs/tab1">
    <ion-icon name="arrow-back-circle-outline"></ion-icon
  ></ion-button>
  <ion-title>Tips Berkendara</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/lintas (3).svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/4.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/5.svg"></ion-img>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
