<ion-header>
  <ion-button href="tabs/tab4">
    <ion-icon name="arrow-back-circle-outline"></ion-icon
  ></ion-button>
  <ion-title>Markah Jalan Raya</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-accordion-group expand="inset" style="width: 100%">
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>Lalu Lintas</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Lalu lintas adalah berjalan bolak balik, hilir mudik dan perihal
              perjalanan di jalan dan sebagainya serta berhubungan antara sebuah
              tempat dengan tempat lainnya. Sedangkan menurut Undang-undang No.
              22 tahun 2009, lalu lintas adalah gerak kendaraan dan orang di
              ruang lalu lintas jalan.
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header">
              <ion-label>Jalan Raya</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Jalan raya adalah jalan utama yang menghubungkan antara suatu
              wilayah/kawasan dengan wilayah/kawasan lainnya dalam sektor
              perhubungan terutama untuk kesinambungan distribusi barang dan
              jasa.
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header">
              <ion-label>Keselamatan Jalan Raya</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Keselamatan jalan raya merupakan suatu bagian yang tak terpisahkan
              dari konsep transportasi berkelanjutan yang menekankan pada
              prinsip transportasi yang aman, nyaman, cepat, bersih (mengurangi
              polusi/pencemaran udara) dan dapat diakses oleh semua orang dan
              kalangan, baik oleh para penyandang cacat, anak ± anak, ibu maupun
              para lanjut usia
            </div>
          </ion-accordion>
          <ion-accordion value="fourth">
            <ion-item slot="header">
              <ion-label>Surat Izin Mengemudi (SIM)</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              SIM (Surat Ijin Mengemudi) adalah bukti registrasi dan
              identifikasi yang diberikan oleh Polri kepada seseoraang yang
              telah memenuhi persyaratan administrasi, sehat jasmani dan rohani,
              memahami peraturan lalu lintas dan trampil mengemudikan kendaraan
              bermotor.
            </div>
          </ion-accordion>
          <ion-accordion value="fiveth">
            <ion-item slot="header">
              <ion-label>Markah Jalan</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Markah jalan adalah suatu alat atau benda yang berada di permukaan
              jalan yang berfungsi untuk memberi suatu informasi tentang jalan.
              Markah jalan juga dapat diterapkan di fasilitas lain yang
              digunakan kendaraan untuk parkir maupun daerah khusus dengan
              kegunaan lainnya.
            </div>
          </ion-accordion>
          <ion-accordion value="sixth">
            <ion-item slot="header">
              <ion-label>Rambu Lalu Lintas</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Rambu lalu lintas adalah bagian dari perlengkapan jalan yang
              memuat lambang, huruf, angka, kalimat dan/atau perpaduan di
              antaranya, yang digunakan untuk memberikan peringatan, larangan,
              perintah dan petunjuk bagi pengguna jalan.
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
