<ion-header>
  <ion-button href="tabs/tab4">
    <ion-icon name="arrow-back-circle-outline"></ion-icon
  ></ion-button>
  <ion-title>Glosarium</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <div class="cont">
          <ion-img
            src="../../../assets/DISHUB/lo__6_-removebg-preview.svg"
            class="img-title"
          ></ion-img>
        </div>
        <div class="cont">
          <ion-label
            style="
              text-align: center;
              font-weight: 600;
              font-size: 24px;
              margin-block-end: 8px;
            "
            >Glosarium</ion-label
          >
        </div>
        <ion-accordion-group expand="inset" style="width: 100%">
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label style="font-weight: 600">Lalu Lintas</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Lalu lintas adalah berjalan bolak balik, hilir mudik dan perihal
              perjalanan di jalan dan sebagainya serta berhubungan antara sebuah
              tempat dengan tempat lainnya. Sedangkan menurut Undang-undang No.
              22 tahun 2009, lalu lintas adalah gerak kendaraan dan orang di
              ruang lalu lintas jalan.
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header">
              <ion-label style="font-weight: 600">Jalan Raya</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Jalan raya adalah jalan utama yang menghubungkan antara suatu
              wilayah/kawasan dengan wilayah/kawasan lainnya dalam sektor
              perhubungan terutama untuk kesinambungan distribusi barang dan
              jasa.
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header">
              <ion-label style="font-weight: 600"
                >Keselamatan Jalan Raya</ion-label
              >
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Keselamatan jalan raya merupakan suatu bagian yang tak terpisahkan
              dari konsep transportasi berkelanjutan yang menekankan pada
              prinsip transportasi yang aman, nyaman, cepat, bersih (mengurangi
              polusi/pencemaran udara) dan dapat diakses oleh semua orang dan
              kalangan, baik oleh para penyandang cacat, anak ± anak, ibu maupun
              para lanjut usia
            </div>
          </ion-accordion>
          <ion-accordion value="fourth">
            <ion-item slot="header">
              <ion-label style="font-weight: 600"
                >Surat Izin Mengemudi ( SIM )</ion-label
              >
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              SIM (Surat Ijin Mengemudi) adalah bukti registrasi dan
              identifikasi yang diberikan oleh Polri kepada seseoraang yang
              telah memenuhi persyaratan administrasi, sehat jasmani dan rohani,
              memahami peraturan lalu lintas dan trampil mengemudikan kendaraan
              bermotor.
            </div>
          </ion-accordion>
          <ion-accordion value="fiveth">
            <ion-item slot="header">
              <ion-label style="font-weight: 600">Markah Jalan</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Markah jalan adalah suatu alat atau benda yang berada di permukaan
              jalan yang berfungsi untuk memberi suatu informasi tentang jalan.
              Markah jalan juga dapat diterapkan di fasilitas lain yang
              digunakan kendaraan untuk parkir maupun daerah khusus dengan
              kegunaan lainnya.
            </div>
          </ion-accordion>
          <ion-accordion value="sixth">
            <ion-item slot="header">
              <ion-label style="font-weight: 600">Rambu Lalu Lintas</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Rambu lalu lintas adalah bagian dari perlengkapan jalan yang
              memuat lambang, huruf, angka, kalimat dan/atau perpaduan di
              antaranya, yang digunakan untuk memberikan peringatan, larangan,
              perintah dan petunjuk bagi pengguna jalan.
            </div>
          </ion-accordion>
          <ion-accordion value="seventh">
            <ion-item slot="header">
              <ion-label style="font-weight: 600">Kepolisian</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Kepolisian Negara Republik Indonesia merupakan alat negara yang
              berperan dalam memelihara keamanan dan ketertiban masyarakat,
              menegakkan hukum, serta memberikan perlindungan, pengayoman, dan
              pelayanan kepada masyarakat dalam rangka terpeliharanya keamanan
              dalam negeri.
            </div>
          </ion-accordion>
          <ion-accordion value="eighth">
            <ion-item slot="header">
              <ion-label style="font-weight: 600">Dinas Perhubungan</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Dinas Perhubungan merupakan suatu lembaga yang secara mandiri
              dalam melaksanakan peran pelaksanaan kebijakan berdasarkan
              pemerintah otonomi daerah, Dinas Perhubungan berperan sebagai
              manejemen transportasi.
            </div>
          </ion-accordion>
          <ion-accordion value="nineth">
            <ion-item slot="header">
              <ion-label style="font-weight: 600"
                >Pelanggaran Lalu Lintas</ion-label
              >
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Pelanggaran lalu lintas adalah suatu perbuatan atau tindakan yang
              dilakukan seseorang yang mengemudi kendaraan umum atau kendaraan
              bermotor juga pejalan kaki yang bertentangan dengan peraturan
              perundang-undangan di bidang lalu lintas dan angkutan jalan.
            </div>
          </ion-accordion>
          <ion-accordion value="tenth">
            <ion-item slot="header">
              <ion-label style="font-weight: 600">Kendaraan Bermotor</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="text-align: justify">
              Kendaraan Bermotor adalah semua kendaraan beroda beserta
              gandengannya yang digunakan di semua jenis jalan darat atau
              kendaraan yang dioperasikan di air yang digerakkan oleh peralatan
              teknik berupa motor atau peralatan lainnya yang berfungsi untuk
              mengubah suatu sumber daya energi tertentu menjadi tenaga gerak
              kendaraan bermotor yang bersangkutan.
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
