ion-header ion-button {
  width: fit-content;
  height: fit-content;
  margin-inline-start: 16px;
  --background: #ff004d;
  padding: 0;
}
ion-header ion-button ion-icon {
  width: 24px;
  height: 24px;
}
ion-header {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
}
ion-header ion-title {
  text-transform: capitalize;
  font-weight: 500;
}

// content
.cont {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-title {
  width: 80%;
  height: 80%;
}

ion-list {
  width: 100%;
  height: fit-content;
}
.list {
  display: flex;
  width: 100%;
  height: fit-content;
  padding-inline: 16px;
}
.list ion-label {
  text-align: justify;
  font-weight: 500;
}
.icon {
  width: 20px;
  height: 20px;
  margin-inline-end: 12px;
}

.icon {
  width: 230px;
  height: 230px;
}

ion-accordion {
  margin-block-end: 16px;
  border-radius: 16px;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);

  margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot="header"],
ion-accordion.accordion-collapsed ion-item[slot="header"] {
  --background: #ff004d;
  --color: white;
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  --background: #ffc700;
  --color: white;
}
