<ion-header>
  <ion-button href="tabs/tab4">
    <ion-icon name="arrow-back-circle-outline"></ion-icon
  ></ion-button>
  <ion-title>Markah Jalan Raya</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-list>
          <ion-item class="list">
            <ion-label>
              Lalu lintas adalah berjalan bolak balik, hilir mudik dan perihal
              perjalanan di jalan dan sebagainya serta berhubungan antara sebuah
              tempat dengan tempat lainnya. Sedangkan menurut Undang-undang No.
              22 tahun 2009, lalu lintas adalah gerak kendaraan dan orang di
              ruang lalu lintas jalan.
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item class="list">
            <ion-label>
              Jalan raya adalah jalan utama yang menghubungkan antara suatu
              wilayah/kawasan dengan wilayah/kawasan lainnya dalam sektor
              perhubungan terutama untuk kesinambungan distribusi barang dan
              jasa.
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item class="list">
            <ion-label>
              Keselamatan jalan raya merupakan suatu bagian yang tak terpisahkan
              dari konsep transportasi berkelanjutan yang menekankan pada
              prinsip transportasi yang aman, nyaman, cepat, bersih (mengurangi
              polusi/pencemaran udara) dan dapat diakses oleh semua orang dan
              kalangan, baik oleh para penyandang cacat, anak ± anak, ibu maupun
              para lanjut usia
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item class="list">
            <ion-label>
              SIM (Surat Ijin Mengemudi) adalah bukti registrasi dan
              identifikasi yang diberikan oleh Polri kepada seseoraang yang
              telah memenuhi persyaratan administrasi, sehat jasmani dan rohani,
              memahami peraturan lalu lintas dan trampil mengemudikan kendaraan
              bermotor.
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item class="list">
            <ion-label>
              Markah jalan adalah suatu alat atau benda yang berada di permukaan
              jalan yang berfungsi untuk memberi suatu informasi tentang jalan.
              Markah jalan juga dapat diterapkan di fasilitas lain yang
              digunakan kendaraan untuk parkir maupun daerah khusus dengan
              kegunaan lainnya.
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item class="list">
            <ion-label>
              Rambu lalu lintas adalah bagian dari perlengkapan jalan yang
              memuat lambang, huruf, angka, kalimat dan/atau perpaduan di
              antaranya, yang digunakan untuk memberikan peringatan, larangan,
              perintah dan petunjuk bagi pengguna jalan.
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
