<ion-header>
  <ion-button href="tabs/tab2">
    <ion-icon name="arrow-back-circle-outline"></ion-icon
  ></ion-button>
  <ion-title>Klasifikasi Jalan Raya</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/21.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/22.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/23.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/24.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/25.svg"></ion-img>
        </ion-card>
        <ion-card class="card">
          <ion-img src="../../../assets/DISHUB/26.svg"></ion-img>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
