ion-header ion-button {
  width: fit-content;
  height: fit-content;
  margin-inline-start: 16px;
  --background: #ff004d;
  padding: 0;
}
ion-header ion-button ion-icon {
  width: 24px;
  height: 24px;
}
ion-header {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
}
ion-header ion-title {
  text-transform: capitalize;
  font-weight: 500;
}

// content
.card {
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  margin-block-end: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
